.btn-button_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.btn-button>a:link {
    text-decoration: none;
    color: inherit;
}


.btn-button>a:visited {
    text-decoration: none;
    color: inherit;
}


.btn-button>a:hover {
    text-decoration: none;
    color: inherit;
}


.btn-button>a:active {
    text-decoration: none;
    color: inherit;
}

.btn-button {
    background-color: #fccc28;
    padding: 5px 55px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #000;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;

}

.btn-button>a:hover {
    color: #FFF;
}

.btn-button:hover {
    transition: 0.75s all;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    transform: scale(1.05);
}